* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
}

html {
    height: 100%;
}

body{
    background-image: linear-gradient(to right, rgba(82, 81, 81, 0.548) 100%, rgba(0, 0, 0, 0)), url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    max-width: 16.25rem;
    padding: 1rem;
    margin: 5rem auto;

    border-radius: 1rem;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.247);
    background-color: rgb(66, 66, 66);
}

p {
    max-width: 13.459rem;
    padding: 1.31rem;
    background-color: white;
    height: 2.06rem;

    font-size: 1.4rem;
    text-align: right;

    border-radius: 1rem;
    border: solid 0.1rem black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.103);

    overflow: hidden;
    text-overflow: ellipsis;
}

.content{
    padding: 1.5rem;
    background-color: rgb(202, 199, 199);
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.63);
    text-align: center;
}

.item1 {
    grid-column: 1 / 5;
}

.item3 {
    grid-column: 1 /3;
}

.item2 {
    display: grid;
    align-content: center;
    grid-column: 4;
    grid-row: 5 / 7 ;
}

.operadores{
    background-color: grey;
    color: white;
}

.content:hover {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.329);
    background-color: rgb(153, 153, 153);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}

.content.operadores:hover {
    background-color: rgb(99, 98, 98);
}
